<div class="row kr--about">
  <p>Info about Dom Glancy can be found <a href="https://github.com/QuantumGeordie/dom_glancy" class="kr">here</a> and <a href="http://quantumgeordie.github.io/dom_glancy/" class="kr">here</a>. Check it out.</p>
</div>
