<h2>difference files</h2>
<p id="js--file_location">file location: <%= DomGlancy::DomGlancy.diff_file_location %></p>
<form name="bessing" action="/dom_glancy/bless" method="POST">
  <p id="js--input"><input type="checkbox" name="delete_on_bless" value='true' checked> Remove difference files on blessing</p>
  <input class="kr--button kr--button-small" type="button" value="Check All" onclick="checkByParent('kr--files', true);">
  <input class="kr--button kr--button-small" type="button" value="Uncheck All" onclick="checkByParent('kr--files', false);">

  <ul id="kr--files" class="kr--ul">
    <% @files.each_with_index do |file, i| %>
      <li class="kr--file">
        <input type="checkbox" name="option_<%= i %>" value="<%= File.basename(file).gsub('_diff.html', '') %>">
        <%= link_to File.basename(file).gsub('_diff.html', ''), "/dom_glancy/show/#{file}", :class => 'kr' %>
      </li>
    <% end %>
  </ul>
  <input type="submit" value="Bless Selected" class="kr--button">
</form>
