<div class="row">
  <p>Files in the Screenshot directory that do not have a corresponding master file in the expected file location. Probably means that they go with a new test.</p>
</div>

<div class="row">
  <table class='kr kr--artifacts' id='js--files'>
    <% @extra_files.each do |f| %>
      <tr class='js--new_files'>
        <td><%= f %></td>
        <td><%= link_to 'make master', "make_master/#{f}", :class => 'kr kr--button kr--button-small' %></td>
        <td><%= link_to 'delete', "delete_current/#{f}", :class => 'kr kr--button kr--button-small' %></td>
      </tr>
    <% end %>
  </table>
</div>
