<h2>Path Configuration</h2>
<table class="kr">
  <tbody>
  <tr><th>master</th><td id="js-config_master"><%= DomGlancy::DomGlancy.master_file_location %></td></tr>
  <tr><th>current</th><td id="js-config_current"><%= DomGlancy::DomGlancy.current_file_location %></td></tr>
  <tr><th>diff</th><td id="js-config_diffs"><%= DomGlancy::DomGlancy.diff_file_location %></td></tr>
  </tbody>
</table>
