<div class="dg-header">
  <div class="row title">
    <span class="dg-title">DOM Glancy</span>
    <span class="gd-title--gem_rev"><%= @parent_application_name %> {<span id="js-gd--gem_rev"><%= @gem_version %></span>}</span>
  </div>

  <div class="row dg--nav" id="js-dg--nav">
    <a href="/dom_glancy/" class="dg"><span class="dg--nav">home</span></a>
    <a href="/dom_glancy/new" class="dg"><span class="dg--nav">new</span></a>
    <a href="/dom_glancy/config" class="dg"><span class="dg--nav">config</span></a>
    <a href="/dom_glancy/clear" class="dg"><span class="dg--nav">clear</span></a>
    <a href="/dom_glancy/about" class="dg"><span class="dg--nav" id="js--about">about</span></a>
  </div>
</div>
