<div class="row" id="js-kr--nav"></a>
  <a href="/dom_glancy/" class="kr"><div class="slot-0 kr--nav">home</div></a>
  <a href="/dom_glancy/new" class="kr"><div class="slot-1 kr--nav">new</div></a>
  <!--<a href="/dom_glancy/artifacts" class="kr"><div class="slot-2 kr--nav">artifacts</div></a>-->
  <a href="/dom_glancy/config" class="kr"><div class="slot-3 kr--nav">config</div></a>
  <a href="/dom_glancy/clear" class="kr"><div class="slot-4 kr--nav">clear</div></a>
  <a href="/dom_glancy/about" class="kr"><div class="slot-5 kr--nav">about</div></a>
</div>
