<div class="row" id="js-kr--nav"></a>
  <a href="/kracker/" class="kr"><div class="slot-0 kr--nav">home</div></a>
  <a href="/kracker/new" class="kr"><div class="slot-1 kr--nav">new</div></a>
  <a href="/kracker/artifacts" class="kr"><div class="slot-2 kr--nav">artifacts</div></a>
  <a href="/kracker/config" class="kr"><div class="slot-3 kr--nav">config</div></a>
  <a href="/kracker/clear" class="kr"><div class="slot-4 kr--nav">clear</div></a>
  <a href="/kracker/about" class="kr"><div class="slot-5 kr--nav">about</div></a>
</div>