<h2>Index page</h2>

<table class="kr">
  <tbody>
    <tr><th>master</th><td><%= Kracker.master_file_location %></td></tr>
    <tr><th>current</th><td><%= Kracker.current_file_location %></td></tr>
    <tr><th>diff</th><td><%= Kracker.diff_file_location %></td></tr>
  </tbody>
</table>