/* colors from pallett at http://www.colourlovers.com/palette/137881/Tabby_Cat */

.blackish {
  color: #180F01;
}

.brown_black {
  color: #2A2111;
}

.caramel {
    color: #956C1F;
}

.white {
    color: #FFFBF5;
}

.faded {
    color: #A3906D;
}

html {
    font-family: Menlo, 'Panic Sans', monospace;
}

body {
  background-color: #FFFBF5;
  color: #2A2111;
  margin: 0 0 0 20px;
}

a.kr:link    { text-decoration:none; color: #A3906D; }
a.kr:visited { text-decoration:none; color: #A3906D; }
a.kr:hover   { text-decoration:none; color: #956C1F; }
a.kr:active  { text-decoration:none; color: #A3906D; }

.kr th {
    padding: 0.2em 1em 0.2em 1em;
    color: #2A2111;
    text-align: left;
}

.grid_top {
    margin-top: 0px;
    border-top: 6px #956C1F solid;
}

.kr--nav {
  font-size: 1.2em;
  text-align: center;
}

.kr--ul {
  line-height: 1.8em;
  list-style-type: none;
  margin:0;
  padding: 20px 0;
}

.kr--dom_review_table td {
    padding: 1em;
    border: 0 solid;
    background-color: transparent;
    vertical-align: top;
    min-width: 250px;
}

.kr--dom_review_table th {
    color: #2A2111;
    font-size: 1.3em;
}

.kr--dom {
    background-color: #ffffff;
    font-size: 0.8em;
    color: #2A2111;
    border-collapse: collapse;
}

.kr--dom_review_table p{
    color: #2A2111;
}

.kr--dom th {
    color: #FFFBF5;
    background-color: #A3906D;
    text-align: center;
    border-bottom: 2px;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: #956C1F;
    border-style: solid;
}

.kr--dom td {
    background-color: transparent;
    border: 1px;
    border-color: #956C1F;
    border-style: solid;
    width: auto;
    min-width: 0;
    padding: 4px 4px 4px 4px;

}

.kr-dom_row_odd {
    background-color: #ffffff;
}

.kr-dom_row_even {
    background-color: #FFFBF5;
}

.kr--svg_rect_highlight {
    border: 5px solid #ff9933;
}

.kr--about {
    margin-top: 30px;
    margin-left: 30px;
    padding: 35px;
    color: #2A2111;
    background-color: #fff;
    border: 1px solid #A3906D;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 10px; /* future proofing */
    max-width: 960px;
}

.kr--artifacts td {
    padding: 7px;
}

.kr--button {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #956C1F;
    border: 1px solid #956C1F;
    background-color: #ffffff;
    text-decoration: none;
    border-radius: 10px;
}

.kr--button-small {
    border-radius: 5px;
    font-size: 75%;
}

.hide { display: none; }
.hideable {
    color: #956C1F;
    cursor: pointer;
}
